.file-form {
    display: flex;
    gap: 1.5rem;
    flex-flow: column;
    align-items: center;
}

.file-form-button {
    width: 10rem;
    font-weight: bold;
    transition: 0.3s
}

.file-form-button:hover {
    transform: scale(1.05);
    opacity: 0.85;
}